name: 'GitHub Actions Mirror'

on:
  workflow_dispatch:
  push:
    branches: 
      - master
  schedule:
    - cron: '20 20 * * *'

jobs:
  mirror_to_gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v1
      - name: 'Mirror to gitlab'
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@gitlab.com:fscarmen/warp.git
          ssh_private_key:
            ${{ secrets.PRIVATE_KEY }}

  mirror_to_gitlab_project:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v1
      - name: 'Mirror to gitlab'
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@gitlab.com:ProjectWARP/warp-script.git
          ssh_private_key:
            ${{ secrets.PRIVATE_KEY }}
#
#  mirror_to_bitbucket:
#    runs-on: ubuntu-latest
#    steps:
#      - name: 'Checkout'
#        uses: actions/checkout@v1
#      - name: 'Mirror to bitbucket'
#        uses: pixta-dev/repository-mirroring-action@v1
#        with:
#          target_repo_url:
#            git@bitbucket.org:fscarmen/warp.git
#          ssh_private_key:
#            ${{ secrets.PRIVATE_KEY }}
#
#  mirror_to_gitee:
#    runs-on: ubuntu-latest
#    steps:
#      - name: 'Checkout'
#        uses: actions/checkout@v3
#      - name: 'Mirror to gitee'
#        uses: pixta-dev/repository-mirroring-action@v1
#        with:
#          target_repo_url:
#            git@gitee.com:valetzx/valetzx.gitee.io.git //这里填gitee仓库ssh地址
#          ssh_private_key:
#            ${{ secrets.GITEE_KEY }}
